#navbar {
  background-color: #1f2833;
}

#navbarElements {
  color: #0dcaf0;
}
#navbarElements:hover {
  color: #0b8ba5;
}
.Cursor {
  caret-color: #0daccc;
}
#SearchButton {
  color: #0dcaf0;
  border-color: #0dcaf0;
}
#SearchButton:hover {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
  color: black;
}
